.navbar-fixed-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: $denim;
  .navbar-brand:hover {
    color: $marigold;
  }
  .navbar-center {
    .dropdown {
      padding: 0px 45px;
      margin: 0;
      .dropdown-menu {
        background: $denim;
        a {
          color: white;
        }
        a:hover {
          background: $marigold;
        }
      }
    }
    .dropdown-toggle:active {
      background: $denim;
      color: $marigold;
    }
    .dropdown-toggle:visited {
      background: $denim;
      color: white;
    }
    .dropdown-toggle:hover {
      background: $denim;
      color: $marigold;
    }
  }
}
