.btn {
  background: $denim;
  border: 2px solid white;
  color: white;
  a {
    color: white;
    font: {
      size: 14px;
      family: $open-sans;
    }
  }
}

.btn:active {
  outline: none;
}

.btn:hover {
  border: 2px solid $marigold;
  outline: none;
  a:hover {
    color: $marigold;
  }
}

button {
  outline: none;
  a:hover {
    color: $marigold;
  }
}

.btn-group {
  display: flex;
  justify-content: center;
}
