.welcome-background {
  background-image: image-url("bicycle.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 900px;
}

.main-background {
  background-image: image-url("ggb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 900px;
}
