.navbar-fixed-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: $denim;
  .navbar-brand:hover {
    color: $marigold;
  }
  .navbar-brand {
    font: {
      family: $yellowtail;
      size: 45px;
    }
  }
    a {
      font: {
        family: $open-sans;
        size: 20px;
      }
    }
    .btn {
      a {
        font: {
          size: 14px;
        }
      }
    }

    .dropdown-menu {
      background: $denim;
      margin-top: 15px;
      border: none;
      a {
        color: white;
      }
      a:hover {
        background: $marigold;
      }
    }

    .dropdown-toggle:active, .nav-item:active {
      background: $denim;
      color: $marigold;
    }
  .dropdown-toggle:visited, .nav-item:visited {
    background: $denim;
    color: white;
  }
  .dropdown-toggle:hover {
    background: $denim;
    color: $marigold;
  }
}

.nav-icon {
  color: white;
  font: {
    family: $open-sans;
    size: 20px;
  }

  .glyphicon {
    color: white;
    margin-top: 10px;
  }

  .glyphicon:hover {
    background: $denim;
    color: $marigold;
  }
}

.login-text {
  margin-left: 60px;
  margin-top: 10px;
}

.navbar-form {
  display: flex;
}
