a {
  font: {
    family: $yellowtail;
    size: 25px;
  }
}

a:hover {
  color: $marigold;
}

.main-header {
  color: $denim;
  font: {
    family: $open-sans;
    size: 50px;
  }
}

label {
  color: white;
  font: {
    family: $open-sans;
    size: 20px;
  }

}

.navbar-header {
  color: white;
  font: {
    family: $yellowtail;
    size: 50px;
  }
}

.navbar-header:hover {
  color: $marigold;
}

.nav-item {
  color: white;
  font: {
    family: $open-sans;
    size: 18px;
  }
}

.nav-text {
  color: white;
  padding: 10px;
  font: {
    family: $open-sans;
    size: 12px;
  }
}

a:hover {
  text-decoration: none;
}

.sub-header {
  text-align: center;
  a {
    color: $steel;
    font: {
      family: $open-sans;
      size: 30px;
      weight: bold;
    }
  }
  a:hover {
    color: $marigold;
  }
}

.regular-text {
  text-align: center;
  color: $steel;
  font: {
    family: $open-sans;
    size: 15px;
  }
}
