label {
  color: white;
  font: {
    family: $open-sans;
    size: 14px;
  }

}

.navbar-header {
  color: white;
  font: {
    family: $yellowtail;
    size: 50px;
  }
}

.navbar-header:hover {
  color: $marigold;
}

li {
  color: white;
  font: {
    family: $open-sans;
    size: 18px;
  }
}
a:hover {
  text-decoration: none;
}
