@import "bootstrap";
@import "bootstrap-sprockets";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail');

$screen: #C5C1C0;
$steel: #0A1612;
$denim: #1A2930;
$marigold: #F7CE3E;

$yellowtail: 'Yellowtail', cursive;
$open-sans: 'Open Sans', sans-serif;
