@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yellowtail');

$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF383F;
$neutral: #EFEFEF;

$yellowtail: 'Yellowtail', cursive;
$open-sans: 'Open Sans', sans-serif;
